
<div>
	<h2>Welcome!</h2>
	
	<p>This Worship Planning Tool can be used to:</p>
	
	<ul>
		<li>Share our current song list; and</li>
		<li>Manage upcoming events.</li>
	</ul>
	
	<p>It's not finished yet, so let me know if you find any problems. 
	You can email me at <a href="mailto:ajw.gibson@gmail.com">ajw.gibson@gmail.com</a></p>
	
</div>
